@media all and (orientation:portrait) {
    #bck {
        position:relative;
        background-image: url(../Images/main.png);
        background-size: 100vw 100vh;
    } 
    #gameContainer {
        display:none;
    }
    #landscapeAlert {
        position:absolute;
        top:50vh;
}

}
@media all and (orientation:landscape) {

    html {
    overflow: hidden;
    }
    #landscapeAlert {
            display:none;
    }
    #gameContainer {
        position:absolute;
        width:100vw;
        height:100vh;
        border:1px solid black;
        background-image: url(../Images/main.png);
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
    }
    .dead {
        background-color:darkslategrey;
        color: white;
        width: 6vw;
        height: 6vh;
    }
    .btnz {
        width: 6vw;
        height: 6vh;
    }


    #buttons {
        position: absolute;
        bottom:10vh;
        width: 26vw;
        left: 45vw;
        z-index: 4;
    }

    #player {
        position: absolute;
        bottom:5vh;
        left:5vw;
        width: 10em;
    }
    #rocket {
        position: absolute;
        bottom:2vh;
        right:5vw;
        width: 20em;
    }
    #smoke {
        position: absolute;
        top:89vh;
        left:50vw;
        height: 120vh;
        /* visibility: hidden; */
    }
    #port {
        position: absolute;
        visibility: hidden;
        bottom: -5vh;
        left:0vw;
        width: 25vw;
        height: 50vh;
        z-index: 3;
    }
    #platform {
        position: absolute;
        bottom:3vh;
        left:8vw;
        width:20em;
        z-index: 2;
    }
    #game {
        position: absolute;
        visibility: hidden;
        top:22vh;
        left:50vw;
        width: 40vw;
        height: 50vh;
    }

    @media screen and (max-height: 450px) {
        .btnz {
            width: 6vw;
            height: 8vh;
        }

        #platform {
            position: absolute;
            bottom:3vh;
            left:8vw;
            width:20em;
            z-index: -1;
        }

        #player {
            position: absolute;
            bottom:5vh;
            left:5vw;
            width: 8em;
        }
    } 
    #box {
        position: absolute;
        visibility: hidden;
        z-index: 5;
        font-size: 1.5vw;
        top:42vh;
        left:50vw;
        width: 15vw;
        height: 3vh;
        background-color: black;
        color: lime;
    }
    #start {
        position: absolute;
        z-index: 5;
        top: 0vh;
        left: 45vw;
    }
    #screen {
        position:relative;
        width:40vw;
        height:40vh;
    }
    #restart {
        position: absolute;
        visibility: hidden;
        z-index: 5;
        top: 0vh;
        left: 45vw;
    }

    #gameText {
        display:relative;
        width:40vw;
        height:40vh;
        top:50vw;
    }
    #quest{
        position: absolute;
        visibility: hidden;
        top: 15vh;
        left:12vw;
        font-size: 2vw;
        height: 85vh;
        width: 25vw;
    }
    #dash {
        position: absolute;
        visibility: hidden;
        top: 30vh;
        left:12vw;
        font-size: 2vw;
        height: 85vh;
        width: 80vw;
    }

    #define {
        position: absolute;
        visibility: hidden;
        top: 35vh;
        left:14vw;
        font-size: 1.5vw;
        height: 85vh;
        width: 25vw;
    }
    
    
    #thought {
        position: absolute;
        visibility: hidden;
        top:-2vh;
        left:7vw;
        width: 40vw;
        height: 85vh;
    }

    #shout {
        position: absolute;
        visibility: hidden;
        top: 25vh;
        width: 40vw;
        height: 50vh;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
    }

    #answer {
        position: relative;
        visibility: hidden;
        text-align: center;
        top: 5vh;
        left: -1vw;
        font-size: 1.5vw;
        font-family: fantasy;
    }

    #end {
        visibility:hidden;
    }

    #leaderBoardModal, #endModal{
        position:absolute;
    }
}
