html {
    overflow: hidden;
}
#gameContainer {
    position:absolute;
    width:100vw;
    height:100vh;
    border:1px solid black;
    background-image: url(../Images/main.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.dead {
    background-color:darkslategrey;
    color: white;
    width: 4vw;
    height: 6vh;
}
.btnz {
    width: 4vw;
    height: 6vh;
}
#buttons {
    position: absolute;
    top: 73vh;
    width: 30vw;
    left: 38vw;
    z-index: 4;
}
#player {
    position: absolute;
    top:72vh;
    left:5vw;
    width: 10vw;
}
#rocket {
    position: absolute;
    top:22vh;
    left:80vw;
    width: 20vw;
}
#smoke {
    position: absolute;
    top:89vh;
    left:65vw;
    height: 120vh;
    visibility: hidden;
}
#port {
    position: absolute;
    visibility: hidden;
    top:65vh;
    left:2vw;
    width: 20vw;
    height: 35vh;
    z-index: 3;
}
#platform {
    position: absolute;
    top:65vh;
    left:4vw;
    height: 35vh;
    z-index: 2;
}
#game {
    position: absolute;
    visibility: hidden;
    top:22vh;
    left:50vw;
    width: 40vw;
    height: 50vh;
}
#box {
    position: absolute;
    visibility: hidden;
    z-index: 5;
    font-size: 1.5vw;
    top:42vh;
    left:50vw;
    width: 15vw;
    height: 3vh;
    background-color: black;
    color: lime;
}
#start {
    position: absolute;
    z-index: 5;
    top: 0vh;
    left: 45vw;
}
#restart {
    position: absolute;
    visibility: hidden;
    z-index: 5;
    top: 0vh;
    left: 45vw;
}
#quest{
    position: absolute;
    visibility: hidden;
    top: 13vh;
    left:14vw;
    font-size: 2vw;
    height: 85%;
    width: 20%;
}
#dash {
    position: absolute;
    visibility: hidden;
    top: 24vh;
    left:14vw;
    font-size: 2vw;
    height: 85%;
    width: 30%;
}
#define {
    position: absolute;
    visibility: hidden;
    top: 30vh;
    left:14vw;
    font-size: 1.5vw;
    height: 85%;
    width: 25%;
}
#thought {
    position: absolute;
    visibility: hidden;
    top:-2vh;
    left:7vw;
    height: 85vh;
}
#endimg {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    height: 40vh;
    width: 20vw;
    visibility: hidden;
}
#answer{
    position: absolute;
    top: 10vh;
    left: 0vw;
    height: 50vh;
    width: 30vw;
    font-size: 1.5vw;
    font-family: fantasy;
    visibility: hidden;
    text-align: center;
}

#shout {
    position: absolute;
    visibility: hidden;
    top: 4vh;
    left: 30vw;
    height: 60vh;
}

#endmessage {
    position: absolute;
    top: 20vh;
    width: 30vw;
    height: 43vh;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

#end {
    visibility:hidden;
}

#leaderBoardModal, #endModal{
    position:absolute;
}